li[class*=chapter] > a{  
    transition: all .4s;
}

ul.summary > li:last-child{
    display : none;
}

my{
    color : red;
    font-weight : bold;
}

*{
    transition: background-color .8s;
   /* -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;
    user-select: none;*/
}

h1, h2{
    /*border-bottom:1px dashed red;*/
}
h1:hover, h2:hover, h3:hover{
    color:blue;
    text-shadow:4px 4px 2px gray;
}

.markdown-section p, .markdown-section li{
    transition : all 0.4s;
    font-size : 18px;
}
.markdown-section p:hover, .markdown-section li:hover{
    /*background-color : rgba(100, 100, 255, .2);*/
    color : green; 
}
li:hover{
   /* background-color : rgba(255, 100, 100, .2);*/
}
li[class*=chapter]:hover{
    background-color : white;
    
}

pre[class^=language-]{
    color : rgb(204, 120, 50) !important;
    font-size:1.8rem !important;
    line-height : 1.2em !important;
    background-color : rgba(200,200,200, 0.4);
}
pre[class^=language-]:hover *{
   
}



li[class*=chapter] > a:hover{
    background-color:rgba(0,0,0,0.1) !important;
    font-size : 1.3em;
    color : blue !important;
}

.book-body{
   
   
}

.c_red{
    color : red;

}
.f_bold{
    font-weight : bold;
}

.markdown-section hr{
    background-color : #a7a7a7 !important;
}






